<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
    <h2>Hop & Craft Inc. 注文システム</h2>
    <form action="/login" method="post">
        <label>メール：</label><br>
        <input type="email" name="email"><br><br>

        <label>パスワード：</label><br>
        <input type="password" name="password"><br><br>

        <button type="submit">ログイン</button>
    </form>

<p style="color:red;">[[${error}]]</p>
</body>
</html>
