<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="login-container">
    <div class="login-title">
      <h2>Hop & Craft Inc.<br>注文システム</h2>
    </div>
    <form action="/login" method="post">
      <label>メール：</label><br>
      <input type="email" name="email" required><br><br>

      <label>パスワード：</label><br>
      <input type="password" name="password" required><br><br>

      <button type="submit">ログイン</button>
    </form>
    <p style="color: red;">[[${error}]]</p>
</body>
</html>